<div class="rhelper">
  <div class="block">
    <div class="title"><h3>What is KEYSTACK?</h3></div>
    <div class="bdesc">
      It's an Questions &amp; Answers platform written on ruby on rails for posting questions and getting the solutions
      <div><a href="http://github.com/mateuszdw/qaror">FORK on GitHub s</a></div>
    </div>
  </div>
  <div class="block">
    <div class="title"><h3>Latest tags</h3></div>
    <div class="tags">
      <% @tag_thr.each do |k,v| %>
          <%= tag_schema(k,v) %>
      <% end %>
    </div>
  </div>
  <% if !@achievements.blank? %>
    <div class="block">
      <div class="title"><h3>Latest achievements</h3></div>
      <div class="achievements">
        <% @achievements.each do |achievement| %>
          <div><%= achievement_schema(achievement.badge,:count=>false) %> <%=raw achievement.user.sname %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>