<div id="tight">
  <div class="title">
    <h1><%= title t(:login) %></h1>
  </div>
  <div class="content">
    <div class="desc">
      <div class="left">
        </div>
      <div class="clear"></div>
    </div>
    <%= render 'shared/loginform' %>
    <br />
    <h2><%= t("signin.notyet") %> <strong><%= link_to t("users.new"),register_url %></strong></h2>
  </div>
</div>