<div id="bottom">
  

    <div id="footer" >
      <div class="container">
        <p class="text-muted credit" style="color:white;">@copyright 2015 Keystack. All rights reserved.</p> 
      </div>
    </div>
</div>
</body>
</html>