<div id="bottom">
  <div class="inner_bottom">
      <div class="left info"> Copyright &copy; 2015 </div>
      <div class="left">
        <%= render_navigation(:context => :bottom) %>
      </div>
      <div class="clear"></div>
  </div>
</div>
</body>
</html>